.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: left;
  background-color: rgba(103,58,183, 0.1);
  height: 100vh;
}

.page .formTitle {
  font-size: 2.25rem;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
}

.page .info {
  display: flex;
  width: 768px;
  height: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position:relative;
}

.info .solidBar {
  position: absolute;
  background-color: rgba(103,58,183);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 10px;
  width: 100%;
  top:-1px;
  left:-1px;

}

.info .title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Google Sans", Helvetica, Arial;
  width: 720px;
  height: 50px;
}

.info .desc {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  height: 40px;
  width: 720px;
  font-weight: 400;
  line-height: 18.9px;
  margin-top: 10px;
}


.question {
  display: flex;
  flex-direction: column;
  width: 768px;
  background-color: rgb(255,255,255);
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.question .title {
  font-size: 16px;
  color: rgb(154, 160, 166);
  font-family: "Google Sans", Arial;
  font-weight: 400;
  line-height: 24px;
  width: 432px;
  height: 56px;
  background-color: rgb(248,248,250);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-color: white;
}

.question .select{
  width: 222px;
  height: 48px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial;
  text-align: left;
  padding-left: 10px;
}

.question .delete {
  border-radius: 50%;
  margin-left: 20px;
  font-size: 15px;
}

.question .optionContainer {
  display: flex;
  flex-direction: column;
}

.question .addOption {
  margin-left: 10px;
  width: 90px;
  height: 24px;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.option {
  display: flex;
  flex-direction: row;
  font-size:20px;
  align-items: center;
}

.option .optionTitle {
  width: 594px;
  height: 24px;
  font-size:15px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

.option .optionDelete {
  width: 24px;
  height: 24px;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 100px;
}

.option .optionBtn {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}


.page .addBtn {
  width: 50px;
  border-radius: 50px;
}